.btn {
    border: 1px solid white;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.923);
    color: white;
    padding: 15px;
    margin-left: 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s, border .5s, border-radius .5s;
}

.btn:hover {
    background-color: rgb(171, 223, 162);
    color: white;
    border: 1px solid white;
    border-radius: 25px;
}

.btn:disabled {
    background-color: rgba(159, 159, 159, 0.693);
    cursor: not-allowed;
}